.playerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  padding: 3rem 4rem;
  height: 100vh;
  width: 26.5rem;

  background-color: var(--purple-500);
  color: var(--white);

  header {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  strong {
    font-family: Lexend, sans-serif;
    font-weight: 600;
  }

  .showPlayer {
    display: none;
  } 

  footer {
    align-self: stretch;

    &.empty .progress {
      opacity: 0.5;
    }
  }

}

.currentEpisode {
  text-align: center;

  img {
    border-radius: 1.5rem;
  }

  strong {
    display: block;
    margin-top: 2rem;
    font: 600 1.25rem Lexend, sans-serif;
    line-height: 1.75rem;
  }

  span {
    display: block;
    margin-top: 1rem;
    opacity: 0.6rem;
    line-height: 1.5rem;
  }
}

.emptyPlayer {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 20rem;
  width: 100%;
  border: 1.5px dashed var(--purple-300);
  border-radius: 1.5rem;
  background: linear-gradient(143.8deg, rgba(145, 100, 250, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
  padding: 4rem;
  text-align: center;
}

.progress {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size:  0.875rem;

  span {
    display: inline-block;
    width: 4rem;
    text-align: center;
  }

  .slider {
    flex: 1;

    .emptySlider {
      height: 4px;
      width: 100%;
      background-color: var(--purple-300);
      border-radius: 2px;
    }
  }

}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2.5rem;
  gap: 1.5rem;

  button {
    background: transparent;
    border: 0;
    font-size: 0;
    transition: filter 0.2s;

    &:disabled {
      cursor: default;
      opacity: 0.5;
    }

    &:hover:not(:disabled) {
      filter: brightness(0.65);
    }
    
    &.isActive {
      filter: invert(0.35) sepia(1) saturate(3) hue-rotate(100deg);
    }

    &.isActive:hover {
      filter: brightness(0.6) invert(0.35) sepia(1) saturate(3) hue-rotate(100deg);
    }


    &.playButton {
      height: 4rem;
      width: 4rem;
      border-radius: 1rem;
      background: var(--purple-400);

      &:hover:not(:disabled) {
        filter: brightness(0.95);
      }
    }
  }

}

@media (max-width: 600px) {
  .playerContainer {
    position: absolute;
    /* 
    * Navegador do telefone cria um espaço extra ao forçar a rolagem no final 
    * da página, por isso desse espaço adicional.
    */
    bottom: -5rem !important;
    
    padding: 1.5rem 1rem;
    height: fit-content;
    width: 100%;
    padding-bottom: 0;
    transition: 1s;

    z-index: 10;
    
    header {
      justify-content: space-around;
      width: 100%;
    }

    .showPlayer {
      display: block;
    }
    .playerMaximized {
      transform: rotate(0deg);
      animation: rotateToOpen 1s;

      img {
        filter: invert(0.35) sepia(1) saturate(80);
      }
    }
    @keyframes rotateToOpen {
      0% {transform: rotate(45deg); filter: invert(0.35) sepia(1) saturate(5) hue-rotate(100deg);}
      100% {transform: rotate(0deg); filter: invert(0.35) sepia(1) saturate(80);}
    }

    .playerMinimized {
      transform: rotate(45deg);
      animation: rotateToClose 1s;

      img {
        filter: invert(0.35) sepia(1) saturate(5) hue-rotate(100deg);
      }
    }
    @keyframes rotateToClose {
      0% {transform: rotate(0deg); filter: invert(0.35) sepia(1) saturate(80);}
      100% {transform: rotate(45deg); filter: invert(0.35) sepia(1) saturate(5) hue-rotate(100deg);}
    }    

    .currentEpisode {
      padding-top: 0.8rem;
      animation: openPlayer 1s;
      height: 240px;
  
      img {
        height: 46vw;
        width: auto;
      }
  
      strong {
        display: none;
      }
    }
    
    @keyframes openPlayer {
      0% {height: 0px; z-index: -1;}
      100% {height: 240px; z-index: -1;}
    }
  
    .currentEpisodeEmpty {
      height: 0px;
      animation: closePlayer 1s;

      img, span, strong {
        display: none !important;
      }
    }
    @keyframes closePlayer {
      0% {height: 240px;}
      100% {height: 0;}
    }

    .emptyPlayer {
      display: none;
    }

    .progress {
      padding-top: 1rem;
    }
  
    .buttons {
      gap: 2rem;
      margin-top: 1rem;
      padding: 0rem 0 2rem;

      /* 
      * Navegador do telefone cria um espaço extra ao forçar a rolagem no final 
      * da página, por isso desse espaço adicional.
      */
      margin-bottom: 5rem;  
    }

    footer {
      background-color: var(--purple-500);
    }
  }

}
